<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.jwmoon.appscan.model.Issue" alias="Issue"  />
		<typeAlias type="com.jwmoon.appscan.model.IssueType" alias="IssueType"  />
		<typeAlias type="com.jwmoon.appscan.model.Vulnerability" alias="Vulnerability"  />
		<typeAlias type="com.jwmoon.appscan.model.IssueUrl" alias="IssueUrl"  />
		<typeAlias type="java.util.Map" alias="Map"  />
	</typeAliases>
	
	<typeHandlers>
	</typeHandlers>
</configuration>