<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwmoon.framework.project.ProjectMapper">
    <select id="selectProjects" resultType="Project" >  
    <![CDATA[ 
       select a.projectId,
			a.projectName,
	        a.startDate,
	        a.endDate,
	        a.dbPath,
	        a.customerId,
	        a.customerName,
	        a.projectUrl,
	        a.note
	  from project a
    ]]>
    </select>
    <select id="getProjectDetail" parameterType="Project" resultType="Project" >  
    <![CDATA[ 
       select a.projectId,
			a.projectName,
	        a.startDate,
	        a.endDate,
	        a.dbPath,
	        a.customerId,
	        a.customerName,
	        a.projectUrl,
	        a.note
	  from project a
	  where a.projectId = #{projectId}
    ]]>
    </select>
 </mapper>
